body {
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
}

main {
  max-width: 600px;
}

ul {
  list-style: lower-alpha;
}

ul li {
  padding: 12px 0;
}
.radio-container {
  margin-top: 8px;
}
