@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro";
}

main {
  max-width: 600px;
}

ul {
  list-style: lower-alpha;
}

ul li {
  padding: 12px 0;
}
.radio-container {
  margin-top: 8px;
}
